In [2]:
import pandas as pd
from scipy import stats

# Question 1
A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

## use two sample two tail T test
Ho: Diameter of cutlets are equal
H1: Diameter of cutlets are not equa

In [3]:
df=pd.read_csv('Cutlets (1).csv')

In [4]:
df

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [5]:
#using two sampling two tail test
A,K=stats.ttest_ind(df['Unit A'],df['Unit B'])
print(f'statistics {A}')
print(f'p-value{K}\n')

statistics 0.7228688704678063
p-value0.4722394724599501

In [7]:
if K< 0.05:
    print(f'reject null hypothesis\nfinal outcome: diameter are unequal')
else:
    print(f'failed to reject null hypothesis\nfinal outcome: diameter  are equal')

failed to reject null hypothesis
final outcome: diameter  are equal

# Question 2
A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

## we use anova testing

In [8]:
#Ho: all samples are equal
#H1: all samples are not equal

In [9]:
af=pd.read_csv('LabTAT (1).csv')

In [10]:
af

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [13]:
#Anova
e,d=stats.f_oneway(af.iloc[:,0],af.iloc[:,1],af.iloc[:,2],af.iloc[:,3])
print(f'f- statistics {e}')
print(f'p-value {d}\n')

f- statistics 118.70421654401437
p-value 2.1156708949992414e-57

In [15]:
if d < 0.05:
    print('Reject null hypothesis \nfinal outcome:All samples are not equal \n')
else:
    print('Failed to Reject null hypothesis\nfinal answer: All samples are equal')

Reject null hypothesis
final outcome:All samples are not equal

# Question 3
Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [16]:
#using CHisqure Test

In [17]:
#Ho: All proportions are equal
#H1: All proportions are not equal

In [21]:
qw=pd.read_csv('BuyerRatio (1).csv',index_col=0)
qw

                 East  West  North  South
Observed Values
Males              50   142    131     70
Females           435  1523   1356    750

In [23]:
chi,p,dof,exp = stats.chi2_contingency(qw)
print(f'chi: {chi}')
print(f'p value: {p}')
print(f'dof: {dof}')
print(f'exp: {exp}\n')

chi: 1.595945538661058
p value: 0.6603094907091882
dof: 3
exp: [[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]]

In [26]:
if p < 0.05:
    print('Reject null hypothesis \nfinal outcome:All propotions are not equal \n')
else:
    print('Failed to Reject null hypothesis\nfinal outcome: All propotions are equal')

Failed to Reject null hypothesis
final outcome: All propotions are equal

# Question 4
TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain % of the customer order forms. Any error in order form renders it defective and has to be reworked before processing. The manager wants to check whether the defective % varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [27]:
'''we use Chi square test
Ho: defective percentage does not varies by centre
H1: defective percentage varies by centre'''

'we use Chi square test\nHo: defective percentage does not varies by centre\nH1: defective percentage varies by centre'

In [32]:
df1=pd.read_csv("Costomer+OrderForm (1).csv")
df1

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [36]:
cross_table = pd.crosstab(index=df1['Phillippines'], columns=[df1['India'], df1['Malta'], df1['Indonesia']])
chi,p,dof,exp = stats.chi2_contingency(cross_table)
print(f'chi: {chi}')
print(f'p value: {p}')
print(f'dof: {dof}')
print(f'exp: {exp}\n')

chi: 3.1001395592512266
p value: 0.6845505149379718
dof: 5
exp: [[1.93333333e-01 1.74000000e+00 8.70000000e-01 2.12666667e+00
  2.12666667e+00 2.19433333e+01]
 [1.80666667e+00 1.62600000e+01 8.13000000e+00 1.98733333e+01
  1.98733333e+01 2.05056667e+02]]

In [39]:
if p < 0.05:
    print('Reject null hypothesis \n final : defective percentage varies by centre')
else:
    print('Failed to Reject null hypothesis\n final answer: defective percentage does not varies by centre')

Failed to Reject null hypothesis
 final answer: defective percentage does not varies by centre